.header-container {
    display: flex;
    justify-content: space-between; 
}

h2 {
    margin: 0; 
}
.chooseDisplay {
    cursor: pointer;
}
.chooseDisplay:hover {
    color: lightgray;
}
.chooseDisplay:active{
    color: dodgerblue;
}

.columnName {
    cursor: pointer; 
}

.columnName:hover {
    color: lightgray; 
}

.columnName:active {
    color: dodgerblue; 
}
